In [ ]:
# TESTA SJÄLV! (kap 5-11:http://www.firstpythonnotebook.org/)
# What percentage of donations came from people who live outside of California?
# What are the top employers of donors who gave for and against the measure?
# Which committees had the fewest donors?

In [5]:
# importera Pandas
import pandas as pd
# Skapa en variabel och läs in filen committees.csv
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")
# Skapa en variabel och läs in alla kampanjbidragsgivare i valet
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")
# Filtrera och indexera alla rader där props_name = proposition 64
prop64 = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']
# Slå ihop datasetet prop64 med datasetet contribs där kommitté-id matchar
merged = pd.merge(prop64, contribs, on="calaccess_committee_id")
# visa info om den nya tabellen
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 0 to 859
Data columns (total 20 columns):
ocd_prop_id                     860 non-null object
calaccess_prop_id               860 non-null int64
ccdc_prop_id                    860 non-null int64
prop_name                       860 non-null object
ccdc_committee_id               860 non-null int64
calaccess_committee_id          860 non-null int64
committee_name_x                860 non-null object
committee_position              860 non-null object
committee_name_y                860 non-null object
calaccess_filing_id             860 non-null int64
date_received                   860 non-null object
contributor_lastname            860 non-null object
contributor_firstname           750 non-null object
contributor_city                860 non-null object
contributor_state               860 non-null object
contributor_zip                 860 non-null object
contributor_employer            657 non-null object
contributor_occupation          742 non-null object
contributor_is_self_employed    860 non-null bool
amount                          860 non-null float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 135.2+ KB

In [6]:
# What percentage of donations came from people who live outside of California?
ca = merged[merged.contributor_state == 'CA']
ca.amount.sum() / merged.amount.sum()

0.49723353977884294

In [7]:
# What are the top employers of donors who gave for and against the measure?
# Skapa en ny variabel av dem som inte stödjer legalisering
oppose = merged[merged.committee_position == 'OPPOSE']
# De fem största arbetsgivarna mot legalisering
oppose.groupby("contributor_employer").amount.sum().reset_index().sort_values('amount', ascending=False).head()

   contributor_employer  amount
17                   CS  6500.0
18                  CSI  5000.0
4     BOSTON SCIENTIFIC  1550.0
23                 NONE  1500.0
25              RETIRED  1371.0

In [8]:
# Skapa en ny variabel av dem som stödjer legalisering
support = merged[merged.committee_position == 'SUPPORT']
# De fem största arbetsgivarna för legalisering
support.groupby("contributor_employer").amount.sum().reset_index().sort_values('amount', ascending=False).head()

          contributor_employer     amount
322     SEAN PARKER FOUNDATION  1250000.0
294                    RETIRED   502300.0
351  TAO CAPITAL PARTNERS, LLC   450000.0
350   TAO CAPITAL PARTNERS LLC   450000.0
361         THIEL CAPITAL, LLC   300000.0

In [10]:
# Which committees had the fewest donors?
merged.committee_name_x.value_counts().reset_index().tail()

                                                index  committee_name_x
6        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))                 8
7   DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...                 7
8   SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...                 6
9                         MOMS STRONG AGAINST PROP 64                 4
10  CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...                 2